<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.singularity.trackmyvehicle">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />


    <application
        android:name=".VehicleTrackApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppThemeParent"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".view.activity.MonitoringActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity android:name=".view.activity.TripReportCalenderActivity"
            android:exported="false"
            tools:ignore="MissingClass" />
        <activity
            android:name=".view.activity.TripReportActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.UpdateNameActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AccountActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VehicleMonitoringActivity"
            android:exported="false"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VehicleRouteAnalyticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VehicleRouteActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.SafeDrivingListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ActiveVehicleListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AnalyticActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.AnalyticsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.VirtualWatchmanActivation"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.VirtualWatchmanSet"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HelpAndSupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name=".view.activity.FragmentActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <uses-library
            android:name="org.apache.http.legacy"
            android:required="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="6e3cd3abe4964733edfd2172c24ad9510d1f5507" />

        <activity
            android:name=".view.activity.SplashScreenActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.activity.MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <!--
 <activity
            android:name=".view.activity.HomeActivity2"
            android:launchMode="singleTop"
            android:screenOrientation="portrait" />
        -->
        <activity
            android:name=".view.activity.LoginActivity"
            android:launchMode="singleTop"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.HomeActivity"
            android:label="@string/title_activity_home"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.MapsActivity"
            android:exported="false"
            android:label="@string/title_activity_maps" />
        <activity
            android:name=".view.activity.ForgetPasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ChangePasswordActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.FeedbackActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.BillingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.ReportsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".view.activity.DirectionActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

        <service android:name=".fcm.AppFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@mipmap/ic_launcher" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_channel_id"
            android:value="tmv-robi-channe" />

        <activity
            android:name=".view.activity.ReportTabActivity"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".testing.SingleFragmentActivity"/> -->
        <activity
            android:name=".view.activity.SecureModeActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>